@model IEnumerable<CustomIpPattern>
@{ 
    ViewBag.Title = "All Ip Pattern";
}

<h2>All Ip Pattern</h2>
<h2>All Ip Pattern</h2>
<div>
    @foreach (var pattern in Model)
    {
        <div class="card">
            <form method="post">
                <input type="hidden" name="id" value="@(pattern.Id)" />
                <div class="card-header">
                    <div class="card-title">@pattern.Title</div>
                </div>
                <div class="card-body">
                    <div>FirstIpPart : @pattern.FirstIpPart</div>
                    <div>SeconIpdPart : @pattern.SeconIpdPart</div>
                    <div>ThirdIpPart : @pattern.ThirdIpPart</div>
                    <div>ForthIpPart : @pattern.ForthIpPart</div>
                    <div>UserAgent : @pattern.UserAgent</div>
                    <div>Method : @pattern.VerbsOrMethod</div>
                    <input type="checkbox" name="Enabled" @(pattern.Enabled ? "checked" : "") value="@(pattern.Enabled ? "true" : "false")" />
                </div>
                <div class="card-footer">
                    <input type="submit" value="save" />
                </div>
            </form>
        </div>
    }
</div>