@inject IIpDetectedRepository ipDetected

@{ 
    ViewBag.Title = "Ips List";
}
<h1 class="m-5 text-center">Ips List</h1>
<div class="text-center m-5">
    <form method="post" asp-action="DeleteAllIps">
        <button style="width: auto" type="submit" class="btn btn-danger">Delete All Ip</button>
    </form>
</div>
<div style="display: flex; flex-flow: wrap-reverse">
    @foreach (var item in ipDetected.GetAll())
    {
        <div class="card mt-2 col-3" style="min-width: 18rem; max-width: 30.5%">
            <div class="card-header">
                <div class="card-title"> @item.Ip </div>
            </div>
            <div class="card-body">
                <div class="card-title"> IP :  @item.Ip </div>
                <div class="card-title"> Pattern :  @item.Pattern </div>
                <div class="card-title"> Time For Request :  @item.requestTime </div>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteThisIp" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
</div>